/data
/.venv
.vscode
.env 
CHANGES.md
__pycache__/
/db
/logs
/pypipeline.egg-info
/secrets
cmds.sh
/hourly_pipeline/USAGE_EXAMPLES.md
*.egg-info/
sample.md
ec2.pem
.terraform*
terraform.tfstate
terraform.tfstate.backup
tempCodeRunnerFile.py
/testing