click==8.1.8
docker==7.1.0
mlflow==3.5.0
mlflow-skinny==3.5.0
mlflow-tracing==3.5.0
numpy==2.3.2
optuna==4.6.0
optuna-integration==4.6.0
pandas==2.3.1
requests==2.32.4
scikit-learn==1.7.1
xgboost==3.0.5
azure-storage-blob==12.26.0
dvc==3.63.0
dvc-azure==3.1.0

